<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to public folder" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHP83_via_FastCGI" />
      <add name="PHP83_via_FastCGI" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,OPTIONS,PATCH" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
